/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*base*/
:root {
  font-size: 100%;
}

body {
  margin: 0;
  color: #24292E;
  line-height: 1.8;
  font-size: 14px;
  font-family: Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-style: normal;
}

a {
  color: #24292E;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
  transition: 0.4s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

p {
  padding-bottom: 2em;
}
p:last-of-type {
  padding-bottom: 0;
}

/*layout*/
.l-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.l-header {
  background: url(../img/mainvisual.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.l-header__logo {
  position: absolute;
  top: 30px;
  right: 30px;
}

.l-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.l-section {
  padding-bottom: 80px;
}
.l-section__inner {
  padding-top: 60px;
}

.l-footer {
  margin-top: auto;
  background: #24292E;
}
.l-footer__inner {
  background: #24292E;
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
}
@media screen and (width < 896px) {
  .l-footer__inner {
    grid-template-columns: 1fr;
  }
}
.l-footer__copyright {
  background: #FFF;
  font-size: 10px;
  padding: 2em 0;
  color: #24292E;
  text-align: center;
}
.l-footer a {
  color: #FFF;
}
.l-footer__title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0.8em;
}
@media screen and (width < 896px) {
  .l-footer__title {
    padding-top: 30px;
  }
}
.l-footer__item::before {
  content: "-";
  padding-right: 4px;
}

/*component*/
.c-logo {
  width: 120px;
  height: 40px;
  display: block;
}

.c-sectionTitle {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 1em;
  text-align: center;
}

.c-btn {
  border: solid 1px #24292E;
  width: 130px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
.c-btn__link {
  display: block;
  text-align: center;
  line-height: 40px;
  padding: 0 1em;
}
.c-btn__link:hover {
  opacity: 0.6;
}

/*project*/
.p-product__textArea {
  text-align: center;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.p-product__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
}
@media screen and (width < 896px) {
  .p-product__menu {
    flex-direction: column;
  }
}
.p-product__menuItem {
  width: calc((100% - 20px) / 2);
  position: relative;
}
@media screen and (width < 896px) {
  .p-product__menuItem {
    width: 100%;
    padding-bottom: 20px;
  }
  .p-product__menuItem:last-of-type {
    padding-bottom: 0;
  }
}
.p-product__menuTextArea {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1em;
  width: 300px;
  height: 90px;
  color: #FFF;
}
.p-product__menuTitle {
  font-size: 20px;
  font-weight: bold;
}

.p-feature--bg {
  background: url(../img/fashion.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 580px;
}
@media screen and (width < 896px) {
  .p-feature--bg {
    height: 660px;
  }
}
.p-feature__textArea {
  text-align: center;
  max-width: calc(600px + 10%);
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}
.p-feature__btn {
  padding-top: 20px;
}

.p-catalog__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.p-catalog__block:last-of-type {
  padding-bottom: 0;
}
@media screen and (width < 896px) {
  .p-catalog__block {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.p-catalog__textArea, .p-catalog__img {
  width: calc((100% - 40px) / 2);
}
@media screen and (width < 896px) {
  .p-catalog__textArea, .p-catalog__img {
    width: 100%;
    padding-bottom: 40px;
  }
}
.p-catalog--reverse {
  flex-direction: row-reverse;
}
@media screen and (width < 896px) {
  .p-catalog--reverse {
    flex-direction: column-reverse;
  }
}
.p-catalog__btn {
  text-align: center;
  padding-top: 40px;
}

/*style*/